{{ define "header" }}
  <div class="container heading py-3">
    <div class="heading-nav row gx-0">

      {{/* New Game */}}
      <div class="col col-3 col-sm-2 col-md-1 order-1 order-md-1">
        <button class="btn btn-primary restart-button" title="Restart" aria-label="Restart" type="button">
          {{ partial "icon" "rotate-cw" }}
        </button>
      </div>

      {{/* Score */}}
      <div class="col col-9 col-sm-10 col-md-5 order-2 order-md-2">
        <div class="score">
          <small>Score</small>
          <div id="score-current">0</div>
        </div>
      </div>
      {{/* Best Score */}}
      <div class="col col-9 col-sm-10 col-md-5 order-4 order-md-3">
        <div class="score">
          <small>Best</small>
          <div id="score-best">0</div>
        </div>
      </div>

      {{/* Info */}}
      <div class="col col-3 col-sm-2 col-md-1 order-3 order-md-4">
        <button class="btn btn-primary" title="Information" aria-label="Information" type="button" data-bs-toggle="offcanvas" data-bs-target="#info-2048-offcanvas" aria-controls="info-2048-offcanvas">
          {{ partial "icon" "info" }}
        </button>
      </div>
    </div>

  </div>
{{ end }}

{{ define "main" }}
  <div id="info-2048-offcanvas" class="offcanvas offcanvas-end" tabindex="-1">
    <div class="offcanvas-header">
      <h1 class="offcanvas-title">{{ .Site.Title }}</h1>
      <button type="button" class="btn" data-bs-dismiss="offcanvas" title="Close" aria-label="Close">{{ partial "icon" "x" }}</button>
    </div>

    <div class="offcanvas-body">
      <p>{{ .Site.Params.Description }}</p>
      <p><strong>How to play:</strong> Use your <strong>arrow keys or swipe</strong> to move the tiles. When two tiles with the same number collide, <strong>merge into one!</strong></p>

      {{ with .Site.Menus.info }}
        <ul class="list-inline list-unstyled">
        {{ range . }}
          <li class="list-inline-item">
            <a href="{{ .URL }}" target="_blank">{{ .Name }}</a>
          </li>
        {{ end }}
        </ul>
      {{ end }}

      <p>&copy; {{ .Site.Copyright }}</p>
      {{ partial "footer" . }}
    </div>
  </div>

  <div class="container">
    <div class="game-container mx-auto">
      <div class="game-message">
        <p></p>
        <div class="lower">
          <button type="button" class="btn btn-secondary keep-playing-button">Keep going</button>
          <button type="button" class="btn btn-secondary retry-button">Try again</button>
        </div>
      </div>

      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
      </div>

      <div class="tile-container">

      </div>
    </div>
  </div>
{{ end }}

{{ define "foot" }}
  {{ $keyboard_input_manager := resources.Get "js/keyboard_input_manager.js" }}
  {{ $html_actuator := resources.Get "js/html_actuator.js" }}
  {{ $grid := resources.Get "js/grid.js" }}
  {{ $tile := resources.Get "js/tile.js" }}
  {{ $local_storage_manager := resources.Get "js/local_storage_manager.js" }}
  {{ $game_manager := resources.Get "js/game_manager.js" }}
  {{ $application := resources.Get "js/application.js" }}

  {{ $2048JS := slice $keyboard_input_manager $html_actuator $grid $tile $local_storage_manager $game_manager $application | resources.Concat "js/2048.js" | minify }}
  {{ $2048SRI := $2048JS | resources.Fingerprint "sha384" }}
  <script src="{{ $2048SRI.RelPermalink }}" integrity="{{ $2048SRI.Data.Integrity }}"></script>
{{ end }}
